{% extends 'baseadmin.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Products index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>Supplier</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.ProductName }}</td>
                <td>{{ product.Supplier }}</td>
                <td>{{ product.Description }}</td>
                <td><img src="{{vich_uploader_asset(product, 'imageFile') }}" width="50px"/></td>
                <td>{{ product.Price }}</td>
                <td>{{ product.Quantity }}</td>
                <td>{{ product.Status }}</td>
                <td>
                    <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-warning">edit</a>
                    <a href="{{ path('app_products_delete', {'id': product.id}) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_products_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
