{% extends 'base.html.twig' %}

{% block title %}Profiles{% endblock %}

{% block body %}
    <h1>Profiles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ profile.Fullname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ profile.Email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ profile.Address }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ profile.Telephone }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ profile.Gender }}</td>
            </tr>
            <tr>
                <th>DOB</th>
                <td>{{ profile.DOB ? profile.DOB|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profiles_index') }}">back to list</a>

    <a href="{{ path('app_profiles_edit', {'id': profile.id}) }}">edit</a>

    {{ include('profiles/_delete_form.html.twig') }}
{% endblock %}
